###################
# compiled source #
###################
*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo
*.pyc
# Include dlls if they’re in the NuGet packages directory
!/packages/*/lib/*.dll
# Include dlls if they're in the CommonReferences directory
!*CommonReferences/*.dll
####################
# VS Upgrade stuff #
####################
UpgradeLog.XML
_UpgradeReport_Files/
###############
# Directories #
###############
bin/
obj/
TestResults/
ImageCapture/output/*
FaceDetection/output/*
###################
# Web publish log #
###################
*.Publish.xml
*.gitignore.orig
*/output/*
*/*/output/*
#############
# Resharper #
#############
/_ReSharper.*
*.ReSharper.*
#############
# IntelliJ  #
#############
*/.idea/*
*.idea/*